*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 70vh;
    background-color: rgb(35,39,42);
    display: flex;
    flex-direction: column;
align-items: center;    
}
nav{
    width: 100%;
    height: 60px;
    background-color: rgb(35,39,42);
    display: flex;
    font-style: inherit;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.part2{
    display: flex;
    gap: 20px;
    
}
.part2 :hover{
    text-decoration: underline;
    scroll-behavior: smooth;
}
.jazz{
text-decoration: none;
color: white;

}
.bubu{
    width: 60px;
    height: 45px;
    border-radius: 25px;
    transition: 0.5s;
    
}
.bubu:hover{
    color: blue;
    cursor: pointer;
    /* box-shadow: 1px 0px 3px 0px white; */
}
.draft1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.sep{
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.sep{
    top: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 30px;
    margin-right: 80px;
}
.sep22 img{
    width: 350px;
    height: 350px;
    
}
.sep22 img{
    width: 350px;
    height: 350px;
    
}
.sep22 .img1{
    position: absolute;
    right: 0px;
    bottom: 100px;
    top: 200px;
}
.demoo{
    
       width: fit-content;
       height: 50px;
       border-radius: 30px;
       padding-left: 30px;
       padding-right: 30px;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: white;
       text-decoration: none;
       color: black;
       
}
.demoo :hover{
    transition: 10s;
    box-shadow: 0px 0px 0px black;
}
.demoo1{
    
    width: fit-content;
    height: 50px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    color: white;
}
.demoo1 :hover{
    transition: 0.5s;
    

}
section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    background-color: white;
}
footer{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
    background-color: rgb(73, 66, 66);
    padding: 0 50px;
    

    
 }
 footer div{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
 }
 div a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 5px;
    

 }
 .aa{
    text-decoration: underline;

 }

 .ft1{
    top: 50%;
    flex-direction: row;
    color: white;
    width: 10px;
    padding-left: 10px;
    

 }

.oos{
    background: blueviolet;
    padding: 30px;
    width: 50%;
    height: 500px;
    border-radius: 10px;
  /* display: grid;
 grid-template-columns: repeat(5,1fr);
 grid-template-rows: repeat(4,minmax(150px, auto));
 max-width: 950px;
 margin: 0 auto;
 grid-gap: 20px;
padding-top: 100px; */

 
}
.oos div{
    

    
}
.d-1{
    display: flex;
   align-items: center;
}
/* .one{
   grid-row: 1/4;
   grid-column: 4/1;
}
.two{
    grid-row: 2/7;
    
   
}
.three{
    grid-row: 6/4;
    grid: ;
}
.oos h1{
    top: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
    margin-left: 80px;
}
.oss h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: red;
} */
